@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

:root{
    --main-color:#5271FF;
    --secondary-color: #004AAD;
    --details-color:#42C1FE;

}

html,body{
    margin:0;
    padding:0;
    font-family: 'Syne Mono', monospace;
}

.nav {
    --bs-nav-link-color: #f8f9fa ;
    --bs-nav-link-hover-color: #f8f9fa;
}

a{
    color:white;

}

.active{
    border-bottom: 2px solid white ;
    padding-bottom:3px;
}
#jumbo-navigation {
    background-size: cover;
    height: 600px;
}

#jumbo-navigation h1, #jumbo-navigation h4{
    color:white;
    text-shadow:3px 2px black;
} 

.nav-link{
    text-shadow:3px 2px black;
    font-size: 1.2rem;
}

.nav-link:hover{
    text-shadow:3px 2px black;
    border-bottom: 2px solid white ;
    padding-bottom:3px;
}

.nav-item .btn {
    margin-left: 20px;
}

#articles{}

#welcome{}

#special{}

#the-surf{}

footer{
    background-color: black;
    color:white;
}

@media(max-width:600px){
    .navbar-brand img{
        width: 70px !important;
        height: 70px !important;
    }
}

